.container-fluid{
    padding-block: 20px;
    .container{
        padding-block: 20px;
        .header{
            display: flex;
            gap:5px
        }
    }
}

tr.selected {
    td,th{
        color: rgb(124, 219, 250); /* Change this to your desired highlight color */
    }
       
}

.loader{
    display: flex;
    max-width: max-content;
}

.no-employees{
    display: flex;
}