<div class="container-fluid" *ngIf="isLoading">
    <h1>Loading...</h1>
</div>

<div class="container-fluid bg-li" *ngIf="!isLoading">
    <div class="container bg-dark">
        <div class="header float-end">
            <button type="button" class="btn btn-outline-success">Add New Employee</button>
        </div>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col"></th> <!-- Empty column for the radio buttons -->
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Position</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees; let i = index" [ngClass]="{ 'selected': selectedIndex === i }">
                <td><input type="radio" name="selectRadio" [value]="i" (click)="setSelectedEmployee(i)"></td>
                <th scope="row">{{i + 1}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.role}}</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary btn-sm">Edit</button>&nbsp;
                  <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
</div>
