<div class="container-fluid bg-li" >
    <div class="container bg-dark">
        <div *ngIf="isLoading" class="loader container bg-dark">
            <app-loader></app-loader>
        </div>
        <div *ngIf="!isLoading">
          <div class="header float-end">
           
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addModal" (click)="setSelectedEmployee(-1)">Add New Employee</button>
          </div>
          
          <table class="table table-striped table-dark">
            <thead class="alert alert-success" *ngIf="employees.length === 0">
              <th class="no-employees" colspan="10">No Employees Yet</th>
            </thead>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Position</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              
              <tbody>
                
                <tr *ngFor="let employee of employees; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{employee.firstName}} {{employee.lastName}}</td>
                  <td>{{employee.age}}</td>
                  <td>{{employee.role}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addModal" (click)="setSelectedEmployee(i)">Edit</button>&nbsp;
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteEmployee(employee._id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-header bg-dark">
    <h4 class="modal-title text-light"></h4>
    <button type="button" #closebutton class="close btn btn-outline-primary float-end" data-bs-dismiss="modal">&times;</button>
    
  </div>
  <div class="modal-dialog">
    <div class="modal-content">
      <app-add-employee #childComponent (closeModal)="handleCloseModal()" [id]="selectedEmployee"></app-add-employee>
    </div>
  </div>
</div>


